h1, h2, h3, h4, h5, p, div, section {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E9EAED;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

input[type=checkbox], input[type=radio] {
  margin: 0 5px;
}

.container {
  max-width: 900px;
  width: 90%;
}

/* Navbar Styles */
nav.navbar-default {
  background-color: rgba(100, 100, 100, 0.5);
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand {
  color: white;
}

.navbar-nav {
  float: right;
}

.navbar-brand {
  font-size: 28px;
}

img.logo {
  height: 40px;
  width: auto;
  transform: translateY(-25%);
  border: none;
  margin: 0;
}

/* Query Styles */
.rz-bubble:after {
  content: ":00";
}

rzslider .rz-pointer {
  background-color: #1B88D8;
}

.field:not(:last-child) {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

a.button {
  display: inline-block;
  color: white;
  background-color: #3E8CE2;
  padding: 10px 30px;
}

/* Search Results Styles */
.searchresults {
  margin: 20px 0;
}

/* Player card styles */
.playercard {
  border: 2px solid black;
  margin-bottom: 20px;
}

.col-sm-6 {
  padding-left: 7px;
  padding-right: 7px;
}

.info {
  margin-top: 30px;
}

img {
  float: left;
  border: 2px solid black;
  width: 150px;
  height: 150px;
  margin: 10px 20px;
}

.playercard {
  color: black;
}

a:hover, a:active, a:visited, a:focus {
  text-decoration: none
}


.row {
  margin-bottom: 20px;
}

