h1, h2, h3, h4, h5, p, div, input {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

section {
  margin-top: 20px;
}

.container {
  max-width: 900px;
  width: 90%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

label {
  font-size: 14px;
}

img {
  float: left;
  margin-right: 20px;
}

.user-profile {
  margin: 20px auto;
  background-color: white;
  width: 500px;
  border: 1px solid #333;
  padding: 15px;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}

.user-profile input {
  display: block;
}

.user-profile .row {
  margin-bottom: 20px;
}

.game-profile {
  border: 1px solid grey;
  margin-top: 30px;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
}

input[type=text], textarea {
  padding: 5px;
  width: 90%;
  margin: auto;
}

textarea {
  display: block;
  width: 95%;
  height: 150px;
}

input[type=checkbox], input[type=radio] {
  margin: 0 5px 0 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.profile-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  margin: 0 auto 20px;
}

.profile-image .btn{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

#starttime {
  width: 80%;
}

.center {
  text-align: center;
}

a {
  display: inline-block;
  color: white;
  background-color: #3E8CE2;
  padding: 10px;
}

.rz-bubble:after {
  content: ":00";
}

rzslider .rz-pointer {
  background-color: #1B88D8
}
