<div class="game-profile ffxiv-profile">
  <h1>FFXIV Settings</h1>

  <section>
    <p>Character: <a ng-href="{{FFXIVCtrl.profile.profileLink}}" target="_blank">{{FFXIVCtrl.profile.ign}}</a></p>
  </section>

  <section>
    <p>Summary: {{FFXIVCtrl.profile.summary}}</p>
  </section>

  <section>
    <h3>Jobs</h3>
    <div class="row">
      <div class="col-sm-6">
        <label for="main">Main Job</label><br />
        <div ng-repeat="job in FFXIVCtrl.jobs">
          <input type="radio" name="main" value="{{job.name}}" ng-model="FFXIVCtrl.profile.main" disabled="disabled"> {{job.name}}
        </div>
      </div>


      <div class="col-sm-6">
        <label for="jobs">Jobs they play</label><br />
        <div ng-repeat="job in FFXIVCtrl.jobs">
          <input type="checkbox" name="jobs" value="{{job.model}}" ng-model="FFXIVCtrl.profile[job.model]" disabled="disabled"> {{job.name}}
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Communication, Availability</h3>
    <div class="field">
      <p>Server: {{FFXIVCtrl.profile.server}}</p>
    </div>
    <div class="field">
      <label for="mic">Has microphone and voice comm's software</label>
      <input type="checkbox" name="mic" id="mic" ng-model="FFXIVCtrl.profile.mic" disabled="disabled"/>
    </div>
  </section>


  <section>
    <h3>Experience</h3>
    <div class="field">
      <p>Dummy DPS (Incl. food, pots, party buff: {{FFXIVCtrl.profile.dps}}</p>
    </div>
    <div class="field">
      <label for="main">Cleared Fights</label><br />
      <div ng-repeat="fight in FFXIVCtrl.fights">
        <input type="checkbox" name="clears" ng-model= "FFXIVCtrl.profile[fight.abr]" value="{{fight.abr}}" disabled="disabled"> {{fight.name}}
      </div>
    </div>
  </section>
</div>

<div class="discussion">
  <h1>Discussion</h1>
  <div class="post">
    <textarea ng-model="FFXIVCtrl.newMessage"></textarea>
    <a href="" class="button" ng-click="FFXIVCtrl.postMessage()">Post Message</a>
  </div>
  <div class="messages">
    <div class="message clearfix" ng-repeat="message in FFXIVCtrl.profile.messages">
      <img ng-src="{{message.photo}}" class="poster-photo" alt="">
      <a class="profile-redirect" ng-href="/pages/{{message.type === 'user' ? 'userprofile_public.html' : 'groupprofile_public.html'}}#{{message.typeId}}">{{message.name}}</a>
      <p>{{message.content}}</p>
    </div>
  </div>
</div>

