<div class="game-profile ffxiv-profile">
  <h1>FFXIV Group Settings</h1>

  <section>
    <p>Group Name: {{FFXIVGroupCtrl.profile.servergroupname}}</p>
  </section>

  <section>
    <p>Summary: {{FFXIVCtrl.profile.summary}}</p>
  </section>

  <section>
    <h3>Jobs</h3>
    <div class="row">
     <!--  <div class="col-sm-6">
        <label for="main">Main Job</label><br />
        <div ng-repeat="job in FFXIVCtrl.jobs">
          <input type="radio" name="main" value="{{job.name}}" ng-model="FFXIVCtrl.profile.main" disabled="disabled"> {{job.name}}
        </div>
      </div> -->


      <div class="col-sm-6">
        <label for="jobs">Do you play these jobs?</label><br />
        <div ng-repeat="job in FFXIVGroupCtrl.jobs">
          <input type="checkbox" name="jobs" value="{{job.model}}" ng-model="FFXIVGroupCtrl.profile[job.model]" disabled="disabled"> {{job.name}}
        </div>
      </div>
    </div>
  </section>

  <section>
    <h3>Communication, Availability</h3>
    <p>Server: {{FFXIVGroupCtrl.profile.server}}</p>
    <br />
    <label for="mic">Has microphone and voice comm's software</label>
    <input type="checkbox" name="mic" id="mic" ng-model="FFXIVGroupCtrl.profile.mic" disabled="disabled"/>
  </section>


  <section>
    <h3>Experience</h3>
    <p>Minimum Dummy DPS: {{FFXIVGroupCtrl.profile.dps}}</p>
    <label for="main">Our Group Has Cleared These Fights</label><br />
    <div ng-repeat="fight in FFXIVGroupCtrl.fights">
    <input type="checkbox" name="clears" ng-model= "FFXIVGroupCtrl.profile[fight.abr]" value="{{fight.abr}}" disabled="disabled"> {{fight.name}}
    </div>
  </section>
</div>


