<div class="game-search ffxiv-search-temp">

  <h1>Search for Character</h1>


  <section>
    <h3>Jobs</h3>
    <div class="row">
      <div class="col-sm-6">
        <label for="main">Main Job</label><br />
        <div ng-repeat="job in ffxivSearchCtrl.jobs">
          <input type="radio" name="main" value="{{job}}" ng-model="ffxivSearchCtrl.profile.main"> {{job}}
        </div>
      </div>


<!--         <div class="col-sm-6">
        <label for="jobs">Jobs you can play</label><br />
        <div ng-repeat="job in ffxivSearchCtrl.jobs">
          <input type="checkbox" name="jobs" value="{{job}}" ng-model="ffxivSearchCtrl.profile.jobs[job]"> {{job}}
        </div>
      </div> -->
    </div>
  </section>

  <section>
    <h3>Communication, Availability</h3>

    <label for="server">Server</label>
    <select id="server" name="server" ng-model="ffxivSearchCtrl.profile.server">
      <option ng-repeat="s in ffxivSearchCtrl.servers" value="{{s}}">{{s}}</option>
    </select>
    <br />

    <label for="mic">Has microphone and voice comm's software</label>
    <input type="checkbox" name="mic" id="mic" ng-model="ffxivSearchCtrl.profile.mic" />
    <br />

    <label for="startTime">Start Time</label>
      <!-- <input type="time" name="startTime" id="startTime" ng-model="ffxivSearchCtrl.profile.startTime">         -->
      <!-- <input type="range" name="startTime" min="0" max="24" ng-model="ffxivSearchCtrl.profile.startTime"> -->
      <rzslider
        rz-slider-model="ffxivSearchCtrl.profile.startTime"
        rz-slider-options="ffxivSearchCtrl.slider"></rzslider>
      <br />

    <label for="endTime">End Time</label>
      <!-- <input type="time" name="endTime" id="endTime" ng-model="ffxivSearchCtrl.profile.endTime">         -->
      <!-- <input type="range" name="endTime" min="0" max="24" ng-model="ffxivSearchCtrl.profile.endTime"> -->
      <rzslider
        rz-slider-model="ffxivSearchCtrl.profile.endTime"
        rz-slider-options="ffxivSearchCtrl.slider"></rzslider>
      <br />




  </section>


  <section>
    <h3>Experience</h3>

    <label for="dps">Dummy DPS (Incl. food, pots, party buff)</label>
    <input type="text" ng-model="ffxivSearchCtrl.profile.dps"><br />

    <label for="main">Cleared Fights</label><br />
    <div ng-repeat="fight in ffxivSearchCtrl.fights">
      <input type="checkbox" name="clears" ng-model= "ffxivSearchCtrl.profile[fight.abr]" value="{{fight.abr}}"> {{fight.name}}
    </div>

    <!-- <a href="#" ng-click="ffxivSearchCtrl.test()">Test button</a> -->
    <!-- <a href="#" ng-click="ffxivSearchCtrl.update()">Save Profile Changes</a> -->
  </section>


  <section>
    <h3>Run Search</h3>
    <button type="button" ng-click="ffxivSearchCtrl.search()">RUN SEARCH</button>
    <br />
  </section>


  <section>
    <h3>Results</h3>
    <div ng-repeat="user in ffxivSearchCtrl.users.data">
      <!-- <span>{{user}}</span><br> -->
      <span>User: {{user._id}}</span><br>
      <!-- <span>{{user.gameName}}</span><br> -->
      <!-- <span>{{user.ign}}</span><br> -->
      <span>Main Job: {{user.main}}</span><br>
      <span>Server: {{user.server}}</span><br>
      <span>Dummy DPS: {{user.dps}}</span><br>
      <span>Start Time: {{user.user.startTime}}</span><br>
      <span>End Time: {{user.user.endTime}}</span><br>
      ---

    </div>
    
  </section>
</div>
