<nav class="navbar navbar-default" ng-app="app.Navbar" ng-controller="NavController as NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img class="logo" src="../assets/logos/MMONSTER1 - Edit Attempt.png" alt=""></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/pages/playerSearch.html">Search For Players</a></li>
      <li><a href="/pages/groupSearch.html">Search For Groups</a></li>
      <li ng-show="NavCtrl.isLoggedIn"><a ng-href="{{NavCtrl.profileLink}}">Profile</a></li>
      <li ng-hide="NavCtrl.isLoggedIn"><a href="/pages/signin.html">Log In</a></li>
      <li ng-show="NavCtrl.isLoggedIn"><a href="#" ng-click="NavCtrl.logOut()">Logout</a></li>
    </ul>
  </div>
</nav>
