<!DOCTYPE html>
<html >
<html ng-app="groupAuth" ng-controller="GroupAuthController as GroupAuthCtrl">
  <head>

    <script src="../lib/angular/angular.min.js"></script>
    <script src="../controllers/groupAuth.js"></script>

    <meta charset="utf-8" />
    <title>MMONSTER</title>
  </head>
  <body ng-controller='GroupAuthController'>
    <div id='signup'>
      <h1>Group Sign-Up</h1>
      <form name="signupForm" ng-submit='GroupAuthCtrl.signup()'>
        <input type='text' ng-model='GroupAuthCtrl.group.groupname'>
        <input type="password" ng-model='GroupAuthCtrl.group.password'>
        <button>signup</button>
      </form>
      <a href="/pages/groupSignin.html">Already have a group account? Sign-In</a>
    </div>
  </body>
</html>









