<!-- TODO: Populate search fields for:

-Game
-Main Job
-Cleared Fights
-Server
-DPS
-Times


-Create page that renders search results


Post-MVP: 
-Keyword search -->

<html ng-app="app.characterSearch" ng-controller="SearchCharacter as SearchChar">
  <head>
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/userprofile.css">
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../controllers/searchCtrls.js"></script>
  </head>

  <body>
    <h1>Search for Character</h1>


    <section>
      <h3>Jobs</h3>
      <div class="row">
        <div class="col-sm-6">
          <label for="main">Main Job</label><br />
          <div ng-repeat="job in FFXIVCtrl.jobs">
            <input type="radio" name="main" value="{{job}}" ng-model="FFXIVCtrl.profile.main"> {{job}}
          </div>
        </div>


        <div class="col-sm-6">
          <label for="jobs">Jobs you can play</label><br />
          <div ng-repeat="job in FFXIVCtrl.jobs">
            <input type="checkbox" name="jobs" value="{{job}}" ng-model="FFXIVCtrl.profile.jobs[job]"> {{job}}
          </div>
        </div>
      </div>
    </section>

    <section>
      <h3>Communication, Availability</h3>

      <label for="server">Server</label>
      <select id="server" name="server" ng-model="server">
        <option ng-repeat="s in FFXIVCtrl.servers" value="s">{{s}}</option>
      </select>
      <br />
      <label for="mic">Has microphone and voice comm's software</label>
      <input type="checkbox" name="mic" id="mic" ng-model="FFXIVCtrl.profile.mic" />
    </section>


    <section>
      <h3>Experience</h3>

      <label for="dps">Dummy DPS (Incl. food, pots, party buff)</label>
      <input type="text" ng-model="FFXIVCtrl.profile.dps"><br />

      <label for="main">Cleared Fights</label><br />
      <div ng-repeat="fight in FFXIVCtrl.fights">
        <input type="checkbox" name="clears" ng-model= "FFXIVCtrl.profile.clears[fight.abr]" value="{{fight.abr}}"> {{fight.name}}
      </div>

<!--       <a href="#" ng-click="FFXIVCtrl.test()">Test button</a>
      <a href="#" ng-click="FFXIVCtrl.update()">Save Profile Changes</a> -->
    </section>


    <!-- <ffxiv /> -->


  </body>


</html>


