<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/login.css">
  <script src="../lib/angular/angular.min.js"></script>
  <script src="../lib/angularjs-slider/dist/rzslider.min.js"></script>
  <script src="../lib/ng-file-upload/ng-file-upload-all.js"></script>
  <script src="../app.js"></script>
  <script src="../controllers/Nav.js"></script>
  <script src="../controllers/playerAuth.js"></script>
  <meta charset="utf-8" />
  <title>MMONSTER</title>
</head>
<body ng-app="app">
  <navbar></navbar>
  <div id="signup" ng-controller="PlayerAuthController as PlayerAuthCtrl">
    <h1>Player Sign-Up</h1>
    <form name="signupForm" ng-submit="PlayerAuthCtrl.signup()">
      <input type="text" ng-model="PlayerAuthCtrl.player.username">
      <input type="password" ng-model="PlayerAuthCtrl.player.password">
      <button>signup</button>
    </form>
    <a href="/pages/playerSignin.html">Already have a player account? Sign-In</a>
  </div>
</body>
</html>

