<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>MMONSTER | Account Sign Up</title>
    <link type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angularjs-slider/dist/rzslider.min.js"></script>
    <script src="../lib/ng-file-upload/ng-file-upload-all.js"></script>
    <script src="../app.js"></script>
    <script src="../controllers/Nav.js"></script>
    <script src="../controllers/auth.js"></script>
</head>
<body ng-controller="AuthTabController as AuthTabCtrl">
    <navbar></navbar>
    <div class="container" id='signup'>
        <h1>Account Sign Up</h1>
        <!-- Navigation for choosing group or user sign up -->
        <nav>
            <ul class="nav nav-pills">
                <li role="presentation" ng-class="{active: AuthTabCtrl.isSet('user')}"><a href ng-click="AuthTabCtrl.setTab('user')">User</a></li>
                <li role="presentation" ng-class="{active: AuthTabCtrl.isSet('group')}"><a href ng-click="AuthTabCtrl.setTab('group')">Group</a></li>
            </ul>
        </nav>
        <!-- load appropriate page based on choice -->
        <div ng-show="AuthTabCtrl.isSet('user')">
            <form ng-controller="PlayerAuthController as PlayerAuthCtrl" class="form-inline" name="signupForm" ng-submit="PlayerAuthCtrl.signup()">
                <div class="form-group">
                    <label for="username creation">Username:</label>
                    <input type="text" class="form-control" id="user-username-creation" ng-model="PlayerAuthCtrl.player.username">
                    <label for="user password creation">Password:</label>
                    <input type="password" class="form-control" id="user-password-creation" ng-model="PlayerAuthCtrl.player.password">
                    <button class="btn btn-default">Sign Up!</button>
                </div>
            </form>
        </div>
        <div ng-show="AuthTabCtrl.isSet('group')">
            <form ng-controller="GroupAuthController as GroupAuthCtrl" class="form-inline" name="signupForm" ng-submit='GroupAuthCtrl.signup()'>
                <div class="form-group">
                    <label for="groupname creation">Groupname:</label>
                    <input type="text" class="form-control" id="group-groupname-creation" ng-model='GroupAuthCtrl.group.groupname'>
                    <label for="group password creation">Password:</label>
                    <input type="password" class="form-control" id="group-password-creation" ng-model='GroupAuthCtrl.group.password'>
                    <button class="btn btn-default">Sign Up!</button>
                </div>
            </form>
        </div>
        <a href="/pages/signin.html">Already have an account? Sign in!</a>
    </div>
</body>
</html>
