<html>
<head>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../styles/userprofile.css">
</head>
<body>
  <div class="container">
   <body ng-app="app.PlayerProfile">
    <div class="userinfo">
      <div class="user-profile" ng-controller="ProfileController as ProfileCtrl">
        <div class="profile-image" ng-style="{'background-image': 'url(' + ProfileCtrl.profile.photo + ')'}">
          <span class="btn btn-primary btn-file" ngf-select="ProfileCtrl.upload($file)" name="file" >
            Update
          </span>
        </div>
        <label for="realname">Name</label>
        <input type="text" id="username" ng-model='ProfileCtrl.profile.username'>
        <label for="location">Location</label>
        <input type="text" id="location" ng-model='ProfileCtrl.profile.location'>
        <label for="location">Email</label>
        <input type="text" id="Email" ng-model='ProfileCtrl.profile.email'>
        <label for="active-game">Active Game</label>
        <input type="text" id="active-game" ng-model='ProfileCtrl.profile.activeGame'>
        <a href="#" ng-click="ProfileCtrl.update()">Update Profile</a>
      </div>

    </div>

    <div class="clearfix"></div>

    <ffxiv-edit />
  </div>
  <script src="../lib/angular/angular.min.js"></script>
  <script src="../lib/ng-file-upload/ng-file-upload-all.js"></script>
  <script src="../controllers/Profile.js"></script>
</body>
</html>
