<html>
<head>
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/angularjs-slider/dist/rzslider.min.css">
  <link rel="stylesheet" href="../styles/userprofile.css">
</head>
<body ng-app="app">
  <navbar></navbar>
  <div class="container">
    <div class="user-profile col-sm-4" ng-controller="ProfileController as ProfileCtrl">
      <div class="profile-image" ng-style="{'background-image': 'url(' + ProfileCtrl.profile.photo + ')'}">
        <span class="btn btn-primary btn-file" ngf-select="ProfileCtrl.upload($file)" name="file" >
          Update
        </span>
      </div>
      <section>
        <h4>Basic Info:</h4>
        <div class="field">
          <label for="realname">Name</label>
          <input type="text" id="name" ng-model='ProfileCtrl.profile.name'>
        </div>
        <div class="field">
          <label for="location">Location</label>
          <input type="text" id="location" ng-model='ProfileCtrl.profile.location'>
        </div>
        <div class="field">
          <label for="location">Email</label>
          <input type="text" id="Email" ng-model='ProfileCtrl.profile.email'>
        </div>
      </section>
      <section>
        <h4>Availability:</h4>
        <label for="starttime">Start Time</label>
        <rzslider
        rz-slider-model="ProfileCtrl.profile.startTime"
        rz-slider-options="ProfileCtrl.slider"></rzslider>
        <label for="endtime">End Time</label>
        <rzslider
        rz-slider-model="ProfileCtrl.profile.endTime"
        rz-slider-options="ProfileCtrl.slider"></rzslider>
        <a href="#" ng-click="ProfileCtrl.update()">Update Profile</a>
        <a href="#" ng-click="ProfileCtrl.test()"></a>
      </section>
    </div>

    <ffxiv-edit class="col-sm-8"></ffxiv-edit>
  </div>
  <script src="../lib/angular/angular.min.js"></script>
  <script src="../lib/ng-file-upload/ng-file-upload-all.js"></script>
  <script src="../lib/angularjs-slider/dist/rzslider.min.js"></script>
  <script src="../app.js"></script>
  <script src="../controllers/Nav.js"></script>
  <script src="../controllers/Profile.js"></script>
</body>
</html>
